@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f0715; /* Deep dark violet/black */
  color: #f3f4f6; /* Light gray text */
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0f0715; 
}
::-webkit-scrollbar-thumb {
  background: #7c3aed; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6d28d9; 
}

